<div class="span8">
<h3>Create a new post</h3>
	<%= render "form" %>
</div>





<!-- 
Old code. Create the form without rails form_for 
method.

<h3>Create a new post</h3>

<form action="/posts" method="post">
	<p>Titel</p>
	<input type="text", name="post[title]", class="input-large"/>
	<p>URL</p>
	<input type="text", name="post[url]", class="input-large"/>
	<p>Description</p>
	<textarea rows="3" name="post[description]", class="input-large"></textarea>
	</br>
	<input type="submit", value="Create Post", class="btn btn-primary">
</form>

 -->